p,
ul,
li {
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  hyphens: none;
  margin-bottom: 16px;
  text-align: left;
}

.big-heading {
  font-size: 32px;
  color: #ff671f;
  font-weight: bold;
}

.image {
  margin-bottom: 8px;
  margin-bottom: 50px;
  padding: 50px;
  width: 100%;
}
