// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!
$orange: #ff671f;
$blue: #2098f5;
$black: #333;

$f2f4-orange: #ff6c02;
$f2f4-blue: #536dfe;
// Body Styles

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: white;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.button a {
  background: #ff671f;
  text-align: center;
}

// Social Media
table.button.facebook table td {
  background: #3b5998 !important;
  border-color: #3b5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #db4a39 !important;
  border-color: #db4a39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  hyphens: none;
}

table,
td,
th,
tr,
a,
div,
span {
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px !important;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  color: #333;
}

.p-small {
  font-size: 14px;
  color: #999;
}

sup {
  font-size: 12px;
}

.small-p {
  background: #eee;
  padding: 16px;
  p {
    font-size: 17px;
    color: #777;
  }
}

.sally {
  margin-bottom: 0px !important;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.black {
  color: #333;
}

.gray {
  color: #ccc;
}

.white {
  color: white;
}

b {
  // color: $f2f4-orange;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

h1 {
  font-size: 40px;
}

.link {
  text-decoration: underline;
}

.link:hover {
  color: darken($f2f4-orange, 20);
}

.center {
  text-align: center;
}

.logo {
  width: 75px !important;
  height: auto;
  text-align: right;
  float: right;
}

.message {
  padding: 24px 16px;
  background: #f3f3f3;
}

.message h4 {
  margin-bottom: 16px;
}

.img-caption {
  margin-top: 8px;
  margin-bottom: 16px;
}

.img {
  display: inline;
  width: 49%;
}

.img-container p {
  margin-bottom: 0px !important;
  font-size: 16px;
  margin-top: 4px;
}

.img-container th {
  padding: 0 !important;
}

.line.light-gray {
  border: 0.5px solid #ccc;
}

@media screen and (max-width: 596px) {
  h1 {
    font-size: 25px !important;
  }
  .heading-top {
    // margin-right: 128px;
    font-size: 30px;
  }
}

@media screen and (max-width: 596px) {
  .heading-top {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 8px;
  }
}

h1 {
  font-size: 28px !important;
}

th {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

p {
  font-size: 18px;
}

.p-small {
  font-size: 14px !important;
}

.section-heading {
  color: #2098f5;
  font-weight: bold;
}

// a {
//   text-decoration: underline;
//   color: $blue !important;
// }

.buy-ticket-wrapper {
  border: 1px solid $f2f4-blue;
  padding: 16px;
  border-radius: 4px;
}

.link {
  color: $f2f4-blue;
  &:visited,
  &:hover {
    color: darken($f2f4-blue, 10);
  }
}

table.button table td {
  background: none;
}

.box {
  padding: 16px;
  border: 1px solid #ddd;
}

td {
  hyphens: none;
}

.member-quote {
  // background: #eee;
  border: 1px solid #ddd;
  padding: 16px;
  p {
    margin-bottom: 0px !important;
    color: #666;
  }

  .member-quote-name {
    margin-bottom: 0 !important;
    font-weight: bold;
  }
}

.second-heading {
  font-size: light !important;
  color: $blue !important;
}

.issues {
  padding: 0 16px;
}

li {
  font-size: 18px;
  margin-bottom: 8px;
  color: $black;
}

.underline {
  text-decoration: underline;
  &:hover {
    color: darken($orange, 10);
  }
}

@media only screen and (max-width: #{$global-breakpoint}) {
  h2 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }
}

.inline-link {
  font-weight: bold;
  text-decoration: underline;
  // color: black !important;
}

//button
table.button.large table a {
  font-size: 24px;
}

.cta {
  padding: 24px 16px;
  background: #eee;
  a,
  p {
    text-align: center !important;
    margin-bottom: 0px !important;
  }
}

.have-your-say {
  margin-bottom: 0px !important;
}

b {
  // color: #ff671f;
}

.black {
  color: #333 !important;
}

.bold {
  font-weight: bold !important;
}

// NEW
body,
html,
.body {
  background: #f6f6f6 !important;
}

.body-border {
  // padding: 16px;
}

p {
  @media screen and (max-width: 596px) {
    font-size: 17px;
  }
}

h1 {
  color: #ff671f;
  font-weight: bold;
  font-size: 64px;
  @media screen and (max-width: 596px) {
    font-size: 22px !important;
  }
}

.unsubscribe {
  color: #777;
  font-size: 16px;
  a {
    color: #777;
  }
}

h1,
p {
  padding-left: 16px;
  padding-right: 16px;
  @media screen and (max-width: 596px) {
    padding: 0px;
  }
}

table.cards .columns.first {
  padding-right: 6px !important;
}
table.cards .columns.last {
  padding-left: 6px !important;
}

@media only screen and (max-width: 596px) {
  table.cards .columns {
    padding: 0px !important;
  }
  table.cards .columns.first {
    padding-right: 4px !important;
  }
  table.cards .columns.last {
    padding-left: 4px !important;
  }
}

.card-link {
  font-weight: bold;
  letter-spacing: 0.25px;
  text-align: center;
  @media only screen and (max-width: 596px) {
    text-align: left;
  }
}

.card-text {
  // margin-left: 16px;
  text-decoration: underline;

  @media only screen and (max-width: 596px) {
    margin-left: 8px;
    font-size: 15px;
    text-align: left;
  }
}
